
body { background-color: Khaki;

}

img { width:20%;
      margin: 50px;
      float: Left;
      
}

h1 { color: Green;
    font-size:425%;
}

#content {
      height: 1000p;
}

#header {
      position: fixed;
}
    
#clear {clear:both;

}

h2,h3 { text-decoration:underline;

}
