
body { background-color: Khaki;
	background-image:http://ec.europa.eu/digital-agenda/sites/digital-agenda/files/EU%20Media%20Futures%20Forum%20pic_0.jpg('paper.gif');

}

img { width:20%;
      margin: 50px;
      float: Left;
      
}

h1 { color: Green;
    font-size:425%;
    font-style: Italic;
}

#content {
      height: 1000p;
}

#header {
      position: fixed;
}
    
#clear {clear:both;
	color:Gold;

}

h2,h3 { text-decoration:underline;
        border-style: double;
		border-color:DarkGoldenRod;
		background-color: Black;
		

}
